@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

@font-face {
    font-family: 'Default';
    src: url(../fonts/HankenGrotesk-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'DefaultItalic';
    src: url(../fonts/HankenGrotesk-Italic-VariableFont_wght.ttf) format('truetype');
}

/* .container-fluid {
    display: flex !important;
    align-items: center !important;
} */

:root {
    /* Colors */
    /* Primario */
    --LightRed: hsl(0, 100%, 67%);
    --OrangeyYellow: hsl(39, 100%, 56%);
    --GreenTeal: hsl(166, 100%, 37%);
    --CobaltBlue: hsl(234, 85%, 45%);

    /* Gradients (backgrounds) */
    --LightSlateBlue: hsl(252, 100%, 67%);
    --LightRoyalBlue: hsl(241, 81%, 54%);
    --VioletBlue: hsla(256, 72%, 46%, 1);
    --PersianBlue: hsla(241, 72%, 46%, 0);

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --PaleBlue: hsl(221, 100%, 96%);
    --LightLavender: hsl(241, 100%, 89%);
    --DarkGrayBlue: hsl(224, 30%, 27%);
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Default';
}

/* Parte Um */

main {
    width: 600px;

    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 30px;
}

h1 {
    font-size: 60px;
}

#resultado {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 30px;
    width: 50%;
    padding: 10px;
    color: var(--White);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#resultado > h2 {
    color: var(--PaleBlue);
}

div#resultado > h2:first-child {
    padding: 10px 0px 30px 0px;
}

div#resultado p {
    color: var(--PaleBlue);
}

#circulo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.great {
    padding: 20px 0px;
}

.paragraph {
    width: 80%;
    padding-bottom: 30px;
    color: var(--LightLavender) !important;
}

#resultado p {
    font-size: 18px;
}

/* Parte dois */
div#resumo {
    width: 50%;
    padding: 10px;
    color: var(--PersianBlue);
}

#resumo h2 {
    padding-top: 10px;
    padding-bottom: 30px;
    color: var(--DarkGrayBlue);
}

.first {
    color: var(--DarkGrayBlue);

}

/* .reaction, .memory, .verbal, .visual {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

.bloco {
    width: 100%;
    margin-bottom: 30px;
    padding: 15px !important;
    margin: 7px 0;
    color: var(--DarkGrayBlue) !important;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* #status p {
    color: var(--DarkGrayBlue);
} */

#status {
    display: flex;
    flex-direction: column;
    align-items: center !important;
}

.reaction {
    background-color: hsla(0, 100%, 67%, 0.13);
    border-radius: 10px;
    padding: 10px;
}

.rea {
    color: var(--LightRed);
}

.memory {
    background-color: hsla(39, 100%, 56%, 0.13);
    border-radius: 5px;
    padding: 10px;
}

.mem {
    color: var(--OrangeyYellow);
}

.verbal {
    background-color: hsl(166, 100%, 37%, 0.13);
    padding: 10px;
    border-radius: 5px;
}

.ver {
    color: var(--GreenTeal);
}

.visual {
    background-color: hsl(234, 85%, 45%, 0.13);
    border-radius: 5px;
    padding: 10px;
}

.vis {
    color: var(--CobaltBlue);
}

.score {
    color: hsla(252, 100%, 67%, 0.514);
    font-weight: normal;
}

#btn {
    color: var(--White);
    background-color: hsl(224, 30%, 27%);
    width: 95%;
    padding: 15px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
}

button#btn:hover {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    cursor: pointer;
}

.bloq {
    font-weight: bolder;
}

.bloquinho {
    display: flex;
}

.bloquinho img {
    padding: 0px 5px;
}

@media screen and (max-width: 599px) {
    main {
        display: flex;
        width: 90vw;
        flex-direction: column;
        align-items: center;
        /* align-items: center; */
        /* justify-content: center; */
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }

    #resultado {
        display: flex;
        justify-content: center;
        width: 100%;
        width: 100%;
        padding: 0;
        margin: 0;

        
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    #resultado h2:first-child {
        padding-top: 80px !important;
        padding-bottom: 20px !important;
    }

    .paragraph {
        font-size: 16px;
        width: 50%;
    }

    #resumo {
        width: 100% !important;
    }

    /* .bloco {
        width: 100%;
        display: flex;
        justify-content: space-between; 
    }  */

    .bloquinho p {
        padding: 10px;
        /* display: flex;
        flex-direction: row; */
    }

    #btn {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 430px) {
    main {
        width: 100vw;
    }
}